.navbar1{
    height: 150px;
    background-color:#7B68EE !important ;
}

.session1{
    background-color: rgb(205, 158, 248);
    min-height: 700px;
}
.session2{
    background-color: rgb(126, 114, 136);
    min-height: 700px;
}

.col1session1{
    background-color: chartreuse;
    margin-right: 10px;
}
.col2session1{
    background-color: darkblue;
    margin-left: 10px;
}
.rowsession1{
    min-height: 650px;
    padding-top: 50px;
}

.col1session2{
    background-color: rgb(199, 76, 5);
    margin-right: 10px;
}
.col2session2{
    background-color: chartreuse;
    margin-right: 10px;
    margin-left: 10px;
}
.col3session2{
    background-color: darkblue;
    margin-left: 10px;
}
.rowsession2{
    min-height: 650px;
    padding-top: 50px;
}
.session3{
    background-color: rgb(218, 19, 19);
    min-height: 700px;
}
.col1session3{
    background-color: rgb(40, 68, 223);
    margin-right: 10px;
}
.col2session3{
    background-color: rgb(19, 180, 86);
    margin-left: 10px;
}
.rowsession3{
    min-height: 650px;
    padding-top: 50px;
}
.session4{
    background-color: rgb(227, 230, 88);
    min-height: 700px;
}
.col1session4{
    background-color: rgb(236, 83, 134);
    margin-right: 10px;
}
.col2session4{
    background-color: rgb(87, 199, 243);
    margin-left: 10px;
}
.rowsession4{
    min-height: 650px;
    padding-top: 50px;
}
.footer{
    height: 500px;
    background-color:#272a33;
    color: white;
}
.navhome{
    background-color:#3c54b4 !important; 
    
}
.navhome .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.navhome .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}
.navhome .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.home1{
    background-color:#3c54b4;
    height: 865px;
    background-image: url(http://zooki.react.themesbrand.com/images/home-2-bg.png);
    background-size: 1900px;
    background-repeat: no-repeat;
    background-position: 150px;
    background-position-x: left;
    
    
}
.home2{
    background-image: url(http://dorsin.react.themesbrand.com/assets/images/wave-shape/wave1.png);
    height: 100px;
}
.col1home1{
    
    margin-right: 10px;
    color: white;
    padding-right: 60px;
    font-family: roboto;
    font-size: 25px;
    padding-top: 70px;
    
}
.col2home1{
    
    margin-left: 10px;
    
}
.rowhome1{
    min-height: 650px;
    padding-top: 70px;
}
.img1{
    max-width: auto;
    max-height: 500px;
}

.botton1{
    color: white !important;
    background-color: #b88d17;
    border-color: #b88d17;
}

.logo{
    max-width: 100px;
    max-width: 100px;
    
}
.divnav{
    right: 50px;
}

.col1sobre1{
    
    margin-right: 10px;
    font-size: 40px;
    font-family: roboto;
    color: #696969;
    
    
}
.rowlogo1{
    padding-right: 50px;
    max-width: 100px;
    
}
.col2sobre1{
    
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    font-family: roboto;
    color: #696969;
}
.col3sobre1{
    
    margin-left: 10px;
    font-size: 20px;
    font-family: roboto;
    color: #696969;
}
.rowsobre1{
    min-height: 300px;
    padding-top: 100px;
}
.sobre1{
    
    min-height: 1050px;
    padding-top: 50px;
    background-image: url(http://zooki.react.themesbrand.com/images/bg-light-about.png);
    background-size: 1800px;
    background-repeat: no-repeat;
    background-position: 350px;
    background-position-x: left;
}
.col1sobre2{
    
    margin-right: 10px;
    font-size: 20px;
    font-family: roboto;
    color: #696969;
}
.col2sobre2{
    background-image: url(http://www.parqueamantikir.com.br/wp-content/uploads/2015/11/CIRCULO-AZUL-Ainda-n%C3%A3o-possui-%C3%ADcone-300x300.png);
    margin-left: 10px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 130px;
    
    
}
.rowsobre2{
    min-height: 300px;
    padding-top: 10px;
}

}
.rownav{
    width: 100%;
    
}
.navmenu{
    padding-top: 20px;
}
.col1sobre3{
    background-color: rgb(40, 68, 223);
    margin-right: 10px;
}
.col2sobre3{
    background-color: rgb(19, 180, 86);
    margin-left: 10px;
}

.sobre3{
    background-color: #bed2e7 !important;
    min-height: 700px;
}
.rowsobre{
    padding-left: 300px;
    background-color: white;
    color: #696969;
    padding-top: 80px;
    
}
.row5{
    font-size: 40px;
    padding-top: 10px;
}
.row3{
    padding-top: 85px !important;
}
.img2{
    padding-left: 110px;
}
.col1serv1{
    background-color: white;
    margin-right: 10px;
    font-size: 30px;
    font-family: roboto;
    color: #696969;
    
}

.col2serv1{
    background-color:white;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: roboto;
    color: #696969;
}
.col3serv1{
    background-color: white;
    margin-left: 10px;
    font-size: 30px;
    font-family: roboto;
    color: #696969;
}
.rowserv1{
    min-height: 300px;
    padding-top: 100px;
}
.serv1{
    background-color: white;
    min-height: 350px;
}
.col1serv2{
    background-color: white;
    margin-right: 10px;
    font-size: 30px;
    font-family: roboto;
    color: #696969;
    
}

.col2serv2{
    background-color:white;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: roboto;
    color: #696969;
}
.col3serv2{
    background-color: white;
    margin-left: 10px;
    font-size: 30px;
    font-family: roboto;
    color: #696969;
}
.rowserv2{
    min-height: 300px;
    padding-top: 30px;
}
.serv2{
    background-color: white;
    min-height: 500px;
}
.row6{
    font-size: 20px;
    padding-top: 30px;
}
.row7{
    font-size: 20px;
    padding-top: 30px;
}
.row8{
    font-size: 20px;
    padding-top: 30px;
}
.row9{
    font-size: 20px;
    padding-top: 30px;
}
.row10{
    font-size: 20px;
    padding-top: 30px;
}
.row11{
    font-size: 20px;
    padding-top: 30px;
}
.img3{
    max-width: auto;
    max-height: 500px;
}
.col1r2{
    background-color: #f8f9fa;
    margin-right: 10px;
    font-size: 20px;
    font-family: roboto;
    color: #696969;
}
.col2r2{
    background-image: url(http://www.parqueamantikir.com.br/wp-content/uploads/2015/11/CIRCULO-AZUL-Ainda-n%C3%A3o-possui-%C3%ADcone-300x300.png);
    margin-left: 10px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 130px;
}
.rowr2{
    min-height: 300px;
    padding-top: 100px;
}
.r2{
    background-color: #f8f9fa !important;
    min-height: 700px;
}
.col2r3{
    background-color: white;
    margin-right: 10px;
    font-size: 20px;
    font-family: roboto;
    color: #696969;
}
.col1r3{
    background-image: url(http://www.parqueamantikir.com.br/wp-content/uploads/2015/11/CIRCULO-AZUL-Ainda-n%C3%A3o-possui-%C3%ADcone-300x300.png);
    margin-left: 10px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 0px;
}
.rowr3{
    min-height: 300px;
    padding-top: 80px;
}
.r3{
    background-color:white !important;
    min-height: 580px;
   
}
.col1r4{
    background-color: #f8f9fa;
    margin-right: 10px;
    font-size: 20px;
    font-family: roboto;
    color: #696969;
}
.col2r4{
    background-image: url(http://www.parqueamantikir.com.br/wp-content/uploads/2015/11/CIRCULO-AZUL-Ainda-n%C3%A3o-possui-%C3%ADcone-300x300.png);
    margin-left: 10px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 130px;
}
.rowr4{
    min-height: 300px;
    padding-top: 80px;
}
.r4{
    background-color:#f8f9fa !important;
    min-height: 580px;
}
.pre{
    background-color: #3c54b4;
    color: white;
}
.but{
    color:white !important;
    background-color: #3c54b4;
}
.preços{
    padding-top: 50px;
    padding-right: 50px;
    min-height: 100px !important;
    
}
.blog{
    padding-top: 50px;
    padding-right: 50px;
    min-height: 900px;
    padding-left: 20px !important;
}
.bimg1{
    max-width: auto !important;
    max-height: 250px ;
}
.conta{
    padding-top: 50px;
    padding-right: 50px;
    min-height: 700px;
    padding-left: 30px;
}
.conta2{
    padding-top: 30px;
}
.conta3{
    padding-left: 50px;
}
.logoc{
    max-width: auto !important;
    max-height: 15px ;
}
.rowcont{
    padding-top: 40px;
}
.rowcont1{
    padding-top: 30px;
}
.but2{
    color: white !important;
    background-color: orange !important;
    
}
.rowbut{
    padding-top: 50px;
    padding-left: 15px;
}
.footercolor{
    color: #A9A9A9;
}
.rowfooter{
    padding-top: 100px;
}
.butf{
    color:#A9A9A9 ;
    background-color: #272a33;
}
.email{
    color:#A9A9A9 ;
    background-color: #222222;
    border-color: #272a33;
    padding-left: 15px;
}
.email1{
    padding-left: 15px;
    padding-top: 15px;
}
.by{
    color: #A9A9A9;
    background-color: #343a40;
    padding-left: 750px;
    padding-top: 10px;
    
}
.rowrecursos{
    padding-left: 300px;
    background-color: #f8f9fa;
    color: #696969;
    padding-top: 50px;
}
.sobrenos{
    padding-left: 350px;
    background-color: white;
    color: #696969;
    padding-top: 60px;
    padding-right: 200px !important;
    
}
.rowpreços{
    padding-left: 10px !important;
    background-color: white;
    color: #696969;
    padding-top: 30px;
    padding-bottom: 100px;
    
    
}
.rowblog{
    padding-left: 10px !important;
    background-color: white;
    color: #696969;
    padding-top: 0px;
    padding-bottom: 100px;
    
    
}
.rowcontatus{
    padding-left: 10px !important;
    background-color: white;
    color: #696969;
    padding-top: 0px;
    padding-bottom: 50px;
    
    
}
